<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <td>城市编号</td>
        <td>城市代码</td>
        <td>城市名称</td>
    </tr>
    <tr th:each="country : ${page.list}">
        <td th:text="${country.id}"></td>
        <td th:text="${country.countrycode}"></td>
        <td th:text="${country.countryname}"></td>
    </tr>
    <tr>
            <a th:href="@{/country/getAll(page=${page.nextPage})}" th:if="${page.hasNextPage}">下一页</a>
            <a th:href="@{/country/getAll(page=${page.prePage})}" th:if="${page.hasPreviousPage}">上一页</a>
            <a th:href="@{/country/getAll(page=1)}" th:if="${!page.isFirstPage}">首页</a>
            <a th:href="@{/country/getAll(page=${page.pages})}" th:if="${!page.isLastPage}">末页</a>
    </tr>
</table>
</body>
</html>